@tailwind base;
@tailwind components;
@tailwind utilities;

/* Using plain CSS */
/* This will hide both vertical and horizontal scrollbars */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
  }
  
  /* For Webkit browsers (Chrome and Safari) */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  